@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-height: 56px;
    --primary-width: 1520px;
    --primary-search: #f2f2f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-size: 1.6rem;
    line-height: 1.34;
    text-rendering: optimizeSpeed;
}

button,
input {
    border: none;
    outline: none;
}
